$nav-height: 72px;

section.nav-buffer {
  
  @include media_max(700px) {
    display: none;
  }

  height: $nav-height;
}

header.nav-wrapper {

  @include media_max(700px) {
    display: none;
  }

  width: 100%;
  z-index: 1100;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;

  nav {
    height: $nav-height;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      padding: 0px;
      display: flex;
      flex-direction: row;
      color: rgb(51, 51, 51);

      li {
        padding: 8px 15px;
        a {
          color: #333;
          text-decoration: none;
          border-bottom: 1px solid;

          &:hover {
            color: #9c9c9c;
            border-bottom: none;
          }
        }
      }
    }
  }
}
